#----------------------------------------------------------------------------------------------------------------------#
# Environment Variables

# dotenv files
.env.*.local
.env.local

#----------------------------------------------------------------------------------------------------------------------#
# Generated Build

# General
build/

# Rust and Cargo
target/
debug/
*.pdb

# TypeScript
*.tsbuildinfo

#----------------------------------------------------------------------------------------------------------------------#
# Dependencies

# Typescript Dependencies
node_modules/

#----------------------------------------------------------------------------------------------------------------------#
# Linters and Formatters

# rustfmt
**/*.rs.bk

#----------------------------------------------------------------------------------------------------------------------#
